.nav{
    background-color: rgb(131, 131, 211);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;

}
ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}
.nav .logo img{
    width:80px ;
    height:80px ;
    border-radius:35px ;
 
}
.hambargar-icon{
       display: none; 
} 
@media screen and (max-width:576PX) {
.hambargar-icon{
    display: block;
}
ul{
    display: none;

}
.nav .logo{
    width: 100%;
    text-align: center;
}

}